In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('assignment.xls')

In [3]:
movies

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,NaN,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,NaN,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,NaN,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,NaN,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,NaN,$ 1864182,213.152,7.4

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   IMBD title ID   100 non-null    object
 1   Original titlÊ  100 non-null    object
 2   Release year    100 non-null    object
 3   Genrë¨          100 non-null    object
 4   Duration        99 non-null     object
 5   Country         100 non-null    object
 6   Content Rating  77 non-null     object
 7   Director        100 non-null    object
 8   Unnamed: 8      0 non-null      float64
 9   Income          100 non-null    object
 10   Votes          100 non-null    object
 11  Score           100 non-null    object
dtypes: float64(1), object(11)
memory usage: 9.6+ KB

What to clean:
- Change Column names and add an underscore to the column names
- Delete duplicates
- make the release year format consistent
- Select the first genre name on the genre column
- Fill the blank values in the duration column
- correct incorrect values in the country column
- delete unnamed column
- remove the dollar sign,space and convert the income column to an integer
- remove the full stops(.) on the values and convert the votes column to an integer
- correct the incorrect values and convert the score column to a float.
- Fill in the missing values in content rating row

In [5]:
movies=movies.rename(columns={'Original titlÊ':'Original_title','Release year':'Release_year','Genrë¨':'Genre','Content Rating':'Content_rating',' Votes ':'Votes'})

In [6]:
movies

,IMBD title ID,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Unnamed: 8,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,NaN,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,NaN,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,NaN,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,NaN,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,NaN,$ 1864182,213.152,7.4

In [7]:
duplicate_rows = movies[movies.duplicated()]
print(duplicate_rows)

Empty DataFrame
Columns: [IMBD title ID, Original_title, Release_year, Genre, Duration, Country, Content_rating, Director, Unnamed: 8, Income, Votes, Score]
Index: []

In [8]:
movies= movies.drop (columns = ['IMBD title ID','Unnamed: 8'])

In [9]:
movies

,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...
96,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [10]:
movies['Genre'].str.split(',',expand=True)

             0         1          2
0        Drama      None       None
1        Crime     Drama       None
2       Action     Crime      Drama
3        Crime     Drama       None
4        Crime     Drama       None
..         ...       ...        ...
96      Comedy     Crime      Drama
97   Adventure     Drama   Thriller
98     Western      None       None
99       Drama      None       None
100     Comedy   Musical    Romance

[101 rows x 3 columns]

In [11]:
movies['Genre'] = movies['Genre'].str.split(',').str[0]

In [12]:
movies

,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,The Godfather,09 21 1972,Crime,175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,The Dark Knight,23 -07-2008,Action,152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,The Godfather: Part II,1975-09-25,Crime,220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,Pulp Fiction,1994-10-28,Crime,,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...
96,The Sting,1974-03-21,Comedy,129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,Das Boot,1982-03-18,Adventure,149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,Singin' in the Rain,1953-02-05,Comedy,103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [13]:
movies['Income'] = movies['Income'].str.replace('$', '').str.split().str[0]

In [14]:
movies

,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,28815245,2.278.845,9.3
1,The Godfather,09 21 1972,Crime,175,USA,R,Francis Ford Coppola,246120974,1.572.674,9.2
2,The Dark Knight,23 -07-2008,Action,152,US,PG-13,Christopher Nolan,1005455211,2.241.615,9.
3,The Godfather: Part II,1975-09-25,Crime,220,USA,R,Francis Ford Coppola,"4o8,035,783",1.098.714,"9,.0"
4,Pulp Fiction,1994-10-28,Crime,,USA,R,Quentin Tarantino,222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...
96,The Sting,1974-03-21,Comedy,129,USA,PG,George Roy Hill,156000000,236.285,7.5
97,Das Boot,1982-03-18,Adventure,149,West Germany,R,Wolfgang Petersen,11487676,226.427,7.5
98,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,15000000,226.039,7.4
99,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214.165,7.4
100,Singin' in the Rain,1953-02-05,Comedy,103,USA,NaN,Stanley Donen,1864182,213.152,7.4

In [15]:
movies.loc[3,'Income'] = 408035783

In [16]:
movies

,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,28815245,2.278.845,9.3
1,The Godfather,09 21 1972,Crime,175,USA,R,Francis Ford Coppola,246120974,1.572.674,9.2
2,The Dark Knight,23 -07-2008,Action,152,US,PG-13,Christopher Nolan,1005455211,2.241.615,9.
3,The Godfather: Part II,1975-09-25,Crime,220,USA,R,Francis Ford Coppola,408035783,1.098.714,"9,.0"
4,Pulp Fiction,1994-10-28,Crime,,USA,R,Quentin Tarantino,222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...
96,The Sting,1974-03-21,Comedy,129,USA,PG,George Roy Hill,156000000,236.285,7.5
97,Das Boot,1982-03-18,Adventure,149,West Germany,R,Wolfgang Petersen,11487676,226.427,7.5
98,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,15000000,226.039,7.4
99,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214.165,7.4
100,Singin' in the Rain,1953-02-05,Comedy,103,USA,NaN,Stanley Donen,1864182,213.152,7.4

In [17]:
movies = movies.drop(index=13)

In [18]:
movies['Income'] = movies['Income'].astype(float)

In [19]:
movies['Income'] = movies['Income'].astype(int)

In [20]:
movies

,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,28815245,2.278.845,9.3
1,The Godfather,09 21 1972,Crime,175,USA,R,Francis Ford Coppola,246120974,1.572.674,9.2
2,The Dark Knight,23 -07-2008,Action,152,US,PG-13,Christopher Nolan,1005455211,2.241.615,9.
3,The Godfather: Part II,1975-09-25,Crime,220,USA,R,Francis Ford Coppola,408035783,1.098.714,"9,.0"
4,Pulp Fiction,1994-10-28,Crime,,USA,R,Quentin Tarantino,222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...
96,The Sting,1974-03-21,Comedy,129,USA,PG,George Roy Hill,156000000,236.285,7.5
97,Das Boot,1982-03-18,Adventure,149,West Germany,R,Wolfgang Petersen,11487676,226.427,7.5
98,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,15000000,226.039,7.4
99,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214.165,7.4
100,Singin' in the Rain,1953-02-05,Comedy,103,USA,NaN,Stanley Donen,1864182,213.152,7.4

In [21]:
movies['Votes'] = movies['Votes'].str.replace('.', '')
movies['Votes'] = movies['Votes'].astype(int)

In [22]:
movies

,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3
1,The Godfather,09 21 1972,Crime,175,USA,R,Francis Ford Coppola,246120974,1572674,9.2
2,The Dark Knight,23 -07-2008,Action,152,US,PG-13,Christopher Nolan,1005455211,2241615,9.
3,The Godfather: Part II,1975-09-25,Crime,220,USA,R,Francis Ford Coppola,408035783,1098714,"9,.0"
4,Pulp Fiction,1994-10-28,Crime,,USA,R,Quentin Tarantino,222831817,1780147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...
96,The Sting,1974-03-21,Comedy,129,USA,PG,George Roy Hill,156000000,236285,7.5
97,Das Boot,1982-03-18,Adventure,149,West Germany,R,Wolfgang Petersen,11487676,226427,7.5
98,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,15000000,226039,7.4
99,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214165,7.4
100,Singin' in the Rain,1953-02-05,Comedy,103,USA,NaN,Stanley Donen,1864182,213152,7.4

In [23]:
movies['Country'].value_counts()

Country
USA             62
UK              12
Italy            4
Japan            4
France           3
South Korea      2
Germany          2
New Zesland      1
New Zealand      1
New Zeland       1
US.              1
Brazil           1
US               1
Italy1           1
India            1
Denmark          1
West Germany     1
Iran             1
Name: count, dtype: int64

In [24]:

movies[movies['Country'].isin(['US.', 'New Zesland', 'New Zeland', 'US', 'Italy1'])]

,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
2,The Dark Knight,23 -07-2008,Action,152,US,PG-13,Christopher Nolan,1005455211,2241615,9.
11,The Lord of the Rings: The Fellowship of the Ring,2002-01-18,Action,178c,New Zesland,PG-13,Peter Jackson,887934303,1619920,8.8
15,The Lord of the Rings: The Two Towers,01/16-03,Action,179,New Zeland,PG-13,Peter Jackson,951227416,1449778,8.7.
24,The Green Mile,2000-10-03,Crime,189,US.,R,Frank Darabont,286801374,1112336,8.6
27,La vita B9 bella,1997-12-20,Comedy,116,Italy1,NaN,Roberto Benigni,230098753,605648,8.6

In [25]:
movies.loc[11,'Country'] = 'New Zealand'
movies.loc[27,'Country'] = 'Italy'
movies.loc[15,'Country'] = 'New Zealand'
movies.loc[24,'Country'] = 'USA'
movies.loc[2,'Country'] = 'USA'

In [26]:
movies

,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3
1,The Godfather,09 21 1972,Crime,175,USA,R,Francis Ford Coppola,246120974,1572674,9.2
2,The Dark Knight,23 -07-2008,Action,152,USA,PG-13,Christopher Nolan,1005455211,2241615,9.
3,The Godfather: Part II,1975-09-25,Crime,220,USA,R,Francis Ford Coppola,408035783,1098714,"9,.0"
4,Pulp Fiction,1994-10-28,Crime,,USA,R,Quentin Tarantino,222831817,1780147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...
96,The Sting,1974-03-21,Comedy,129,USA,PG,George Roy Hill,156000000,236285,7.5
97,Das Boot,1982-03-18,Adventure,149,West Germany,R,Wolfgang Petersen,11487676,226427,7.5
98,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,15000000,226039,7.4
99,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214165,7.4
100,Singin' in the Rain,1953-02-05,Comedy,103,USA,NaN,Stanley Donen,1864182,213152,7.4

In [27]:
movies.loc[[4, 6, 9, 11, 14, 16, 18], 'Duration'] = [154, 195, 139, 178, 136, 124, 133]
movies['Duration'] = movies['Duration'].astype(int)

In [28]:
movies

,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3
1,The Godfather,09 21 1972,Crime,175,USA,R,Francis Ford Coppola,246120974,1572674,9.2
2,The Dark Knight,23 -07-2008,Action,152,USA,PG-13,Christopher Nolan,1005455211,2241615,9.
3,The Godfather: Part II,1975-09-25,Crime,220,USA,R,Francis Ford Coppola,408035783,1098714,"9,.0"
4,Pulp Fiction,1994-10-28,Crime,154,USA,R,Quentin Tarantino,222831817,1780147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...
96,The Sting,1974-03-21,Comedy,129,USA,PG,George Roy Hill,156000000,236285,7.5
97,Das Boot,1982-03-18,Adventure,149,West Germany,R,Wolfgang Petersen,11487676,226427,7.5
98,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,15000000,226039,7.4
99,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214165,7.4
100,Singin' in the Rain,1953-02-05,Comedy,103,USA,NaN,Stanley Donen,1864182,213152,7.4

In [29]:
movies.Score.value_counts()

Score
8.6       11
8.2        8
8.3        8
8.1        7
8.4        7
8.5        6
7.5        6
7.8        6
8.0        6
7.9        5
7.6        4
7.7        4
7.4        3
8.8        3
8.7        2
8.9        2
9.2        1
8,6        1
8,7e-0     1
8.7.       1
++8.7      1
8:8        1
8..8       1
08.9       1
8,9f       1
9,.0       1
9.         1
9.3        1
Name: count, dtype: int64

In [30]:
movies.loc[[2, 3, 4, 5, 8, 10, 14, 15, 16, 21], 'Score'] = [9.0, 9.0, 8.9, 8.9, 8.8, 8.8, 8.7, 8.7, 8.7, 8.6]
movies['Score'] = movies['Score'].astype(float)

In [31]:
movies

,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3
1,The Godfather,09 21 1972,Crime,175,USA,R,Francis Ford Coppola,246120974,1572674,9.2
2,The Dark Knight,23 -07-2008,Action,152,USA,PG-13,Christopher Nolan,1005455211,2241615,9.0
3,The Godfather: Part II,1975-09-25,Crime,220,USA,R,Francis Ford Coppola,408035783,1098714,9.0
4,Pulp Fiction,1994-10-28,Crime,154,USA,R,Quentin Tarantino,222831817,1780147,8.9
...,...,...,...,...,...,...,...,...,...,...
96,The Sting,1974-03-21,Comedy,129,USA,PG,George Roy Hill,156000000,236285,7.5
97,Das Boot,1982-03-18,Adventure,149,West Germany,R,Wolfgang Petersen,11487676,226427,7.5
98,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,15000000,226039,7.4
99,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214165,7.4
100,Singin' in the Rain,1953-02-05,Comedy,103,USA,NaN,Stanley Donen,1864182,213152,7.4

In [32]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 100
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Original_title  100 non-null    object
 1   Release_year    100 non-null    object
 2   Genre           100 non-null    object
 3   Duration        100 non-null    int32
 4   Country         100 non-null    object
 5   Content_rating  77 non-null     object
 6   Director        100 non-null    object
 7   Income          100 non-null    int32
 8   Votes           100 non-null    int32
 9   Score           100 non-null    float64
dtypes: float64(1), int32(3), object(6)
memory usage: 11.5+ KB

In [33]:
movies.loc[[1, 2, 5, 9, 12, 15, 18, 45, 70,], 'Release_year'] = ['1972-09-21', '2008-02-22', '2004-02-22', '1999-10-29', '1966-12-23','2003-01-16','1976-11-18','1946-11-21','1951-03-06']

In [34]:
movies

,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3
1,The Godfather,1972-09-21,Crime,175,USA,R,Francis Ford Coppola,246120974,1572674,9.2
2,The Dark Knight,2008-02-22,Action,152,USA,PG-13,Christopher Nolan,1005455211,2241615,9.0
3,The Godfather: Part II,1975-09-25,Crime,220,USA,R,Francis Ford Coppola,408035783,1098714,9.0
4,Pulp Fiction,1994-10-28,Crime,154,USA,R,Quentin Tarantino,222831817,1780147,8.9
...,...,...,...,...,...,...,...,...,...,...
96,The Sting,1974-03-21,Comedy,129,USA,PG,George Roy Hill,156000000,236285,7.5
97,Das Boot,1982-03-18,Adventure,149,West Germany,R,Wolfgang Petersen,11487676,226427,7.5
98,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,15000000,226039,7.4
99,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214165,7.4
100,Singin' in the Rain,1953-02-05,Comedy,103,USA,NaN,Stanley Donen,1864182,213152,7.4

In [35]:
movies['Release_year'].str.split('-',expand=True)
movies['Release_year'] = movies['Release_year'].str.split('-').str[0]

In [36]:
movies

,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,The Shawshank Redemption,1995,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3
1,The Godfather,1972,Crime,175,USA,R,Francis Ford Coppola,246120974,1572674,9.2
2,The Dark Knight,2008,Action,152,USA,PG-13,Christopher Nolan,1005455211,2241615,9.0
3,The Godfather: Part II,1975,Crime,220,USA,R,Francis Ford Coppola,408035783,1098714,9.0
4,Pulp Fiction,1994,Crime,154,USA,R,Quentin Tarantino,222831817,1780147,8.9
...,...,...,...,...,...,...,...,...,...,...
96,The Sting,1974,Comedy,129,USA,PG,George Roy Hill,156000000,236285,7.5
97,Das Boot,1982,Adventure,149,West Germany,R,Wolfgang Petersen,11487676,226427,7.5
98,Per qualche dollaro in piÃ¹,1965,Western,132,Italy,NaN,Sergio Leone,15000000,226039,7.4
99,Jodaeiye Nader az Simin,2011,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214165,7.4
100,Singin' in the Rain,1953,Comedy,103,USA,NaN,Stanley Donen,1864182,213152,7.4

In [37]:
movies.loc[[12, 27, 28, 30, 36, 40, 41,47,48,56,58,62,63,65,66,69,70,81,86,89,90,92,93,98,100], 'Content_rating'] = ['R','PG-13','R','R','R','R','R','Not Rated','R','PG-13','PG-13','PG','PG','PG','PG','PG-13','G','Not Rated','X','R','PG','PG','Not Rated','R','G']

In [38]:
movies

,Original_title,Release_year,Genre,Duration,Country,Content_rating,Director,Income,Votes,Score
0,The Shawshank Redemption,1995,Drama,142,USA,R,Frank Darabont,28815245,2278845,9.3
1,The Godfather,1972,Crime,175,USA,R,Francis Ford Coppola,246120974,1572674,9.2
2,The Dark Knight,2008,Action,152,USA,PG-13,Christopher Nolan,1005455211,2241615,9.0
3,The Godfather: Part II,1975,Crime,220,USA,R,Francis Ford Coppola,408035783,1098714,9.0
4,Pulp Fiction,1994,Crime,154,USA,R,Quentin Tarantino,222831817,1780147,8.9
...,...,...,...,...,...,...,...,...,...,...
96,The Sting,1974,Comedy,129,USA,PG,George Roy Hill,156000000,236285,7.5
97,Das Boot,1982,Adventure,149,West Germany,R,Wolfgang Petersen,11487676,226427,7.5
98,Per qualche dollaro in piÃ¹,1965,Western,132,Italy,R,Sergio Leone,15000000,226039,7.4
99,Jodaeiye Nader az Simin,2011,Drama,123,Iran,PG-13,Asghar Farhadi,22926076,214165,7.4
100,Singin' in the Rain,1953,Comedy,103,USA,G,Stanley Donen,1864182,213152,7.4